@mixin responsive($breakpoint) {
     @if $breakpoint==xs {
          @media (max-width: 575.98px) {
               @content;
          }
     }

     @if $breakpoint==sm {
          @media (min-width: 576px) and (max-width: 767.98px) {
               @content;
          }
     }

     @if $breakpoint==md {
          @media (min-width: 768px) and (max-width: 991.98px) {
               @content;
          }
     }

     @if $breakpoint==lg {
          @media (min-width: 992px) and (max-width: 1199.98px) {
               @content;
          }
     }

     @if $breakpoint==xl {
          @media (min-width: 1200px) {
               @content;
          }
     }
}

.feedBack {
     padding: 80px 100px;

     @include responsive(xs) {
          padding: 10px;

     }

     @include responsive(sm) {
          padding: 10px;

     }

     .headingLv2 {
          font-size: 3.0rem;
          text-align: center;
          margin-bottom: 30px;
     }

     .feedBackItem {
          padding: 0 8px;

          .feedBackItemInner {
               user-select: none;
               border-radius: 12px;
               padding: 16px;
               background-color: #fff;
               min-height: 250px;
               display: flex !important;
               flex-direction: column;

               .nameSchool {
                    display: block;
                    font-size: 3.0rem;
                    font-weight: 700;
               }

               .descFeddBack {
                    margin-top: 1.8rem;
                    max-width: 400px;
                    max-height: 50px;
                    font-size: 1.8rem;

                    @include responsive(xs) {
                         font-size: 1.4rem;
                         max-height: none;
                    }

                    @include responsive(sm) {
                         font-size: 1.6rem;
                    }
               }

               .info {
                    margin-top: auto;
                    display: flex;
                    align-items: center;
                    gap: 2.0rem;

                    .imgWrap {
                         width: 5.0rem;
                         height: 5.0rem;

                         img {
                              width: 100%;
                              height: 5.0rem;
                              border-radius: 50%;
                         }
                    }

                    .contentInfo {
                         .nameUser {
                              display: block;
                              font-size: 1.8rem;
                              font-weight: 600;
                         }
                    }
               }
          }

     }

     .carouselFeedBack>ul {
          bottom: -2.5rem !important;
          height: 1rem !important;

          &>li {
               height: 100% !important;
               width: 1.5rem !important;

               &>button {
                    font-size: 0 !important;
                    width: 1rem !important;
                    height: 1rem !important;
                    border-radius: 50% !important;
                    background-color: #96d7de !important;
                    transition: all ease 0.4s !important;
                    cursor: pointer !important;
               }
          }
     }

}