@mixin responsive($breakpoint) {
     @if $breakpoint==xs {
          @media (max-width: 575.98px) {
               @content;
          }
     }

     @if $breakpoint==sm {
          @media (min-width: 576px) and (max-width: 767.98px) {
               @content;
          }
     }

     @if $breakpoint==md {
          @media (min-width: 768px) and (max-width: 991.98px) {
               @content;
          }
     }

     @if $breakpoint==lg {
          @media (min-width: 992px) and (max-width: 1199.98px) {
               @content;
          }
     }

     @if $breakpoint==xl {
          @media (min-width: 1200px) {
               @content;
          }
     }
}

.feedBackItem {
     border-radius: 12px;
     padding: 16px 10px;
     background-color: #fff;
     height: 250px;
     display: flex !important;
     flex-direction: column;

     .nameSchool {
          display: block;
          font-size: 3.0rem;
          font-weight: 700;
     }

     .contentFeddBack {
          margin-top: 18px;
          max-width: 400px;
          font-size: 1.8rem;

          @include responsive(xs) {
               font-size: 1.4rem;
          }

          @include responsive(sm) {
               font-size: 1.6rem;
          }
     }

     .info {
          margin-top: auto;
          display: flex;
          align-items: center;
          gap: 20px;

          .imgWrap {
               width: 50px;
               height: 50px;

               img {
                    width: 100%;
                    height: 50px;
                    border-radius: 50%;
               }
          }

          .contentInfo {
               .nameUser {
                    display: block;
                    font-size: 1.8rem;
                    font-weight: 600;
               }
          }
     }

}