@mixin responsive($breakpoint) {
  @if $breakpoint==xs {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  }

  @if $breakpoint==md {
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

.groupUserDarkMode {
  display: flex;
  align-items: center;
}

.header {
  background-color: #fff;
  padding-top: 14px;

  .chatGpt {
    position: fixed;
    bottom: 52px;
    right: 25px;
    width: 45px;
    height: 45px;
    z-index: 99;

    .btnChatGpt {
      background-color: transparent;
      cursor: pointer;

      img {
        border-radius: 6px;
      }
    }

    img {
      width: 100%;
    }

    .isShowChatGPT {
      translate: 0;
    }
  }

  .navbar {
    background-color: #fff;

    &.stick {
      position: fixed;
      top: 0;
      width: 100%;
      box-shadow: 0 0.2rem 4rem 0 hsl(0deg 0% 6% / 5%);
      animation: 0.3s ease 0s normal none 1 running fadeInDown;
      z-index: 3;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-1.8rem);
      -ms-transform: translateY(-1.8rem);
      transform: translateY(-1.8rem);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .headerTop {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btnHeader {
      width: 5rem;
      height: 5rem;
      margin-left: 2rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      text-align: center;
      font-weight: 700;
      border: 2px solid var(--secondaryColor);
      cursor: pointer;
      font-family: var(--font-family);
      transition: ease 0.5s;

      .user {
        font-size: 2rem;
        fill: var(--secondaryColor) !important;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        max-width: 50px;
        height: 50px;
      }

      span {
        font-weight: 900;
        font-size: 2.5rem;
        white-space: nowrap;
        color: transparent;
        -webkit-background-clip: text;
        background-color: #4158d0;
        background-image: linear-gradient(43deg,
            #4158d0 0%,
            #df2bab 30%,
            #ff7072 66%,
            #e10404 100%);
      }
    }

    @include responsive(xs) {
      padding: 10px;

      .logo {
        justify-content: center;

        img {
          max-width: 3.5rem;
          height: 3.5rem;
        }

        span {
          font-weight: 900;
          font-size: 1.8rem;
        }
      }

      .btnHeader {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    @include responsive(sm) {
      padding: 10px;

      .logo {
        justify-content: center;

        img {
          max-width: 4.0rem;
          height: 4.0rem;
        }

        span {
          font-weight: 900;
          font-size: 2.0rem;
        }
      }

      .btnHeader {
        width: 4.0rem;
        height: 4.0rem;
      }
    }

    @include responsive(md) {
      padding: 10px;

      .logo {
        justify-content: center;

        img {
          max-width: 4.5rem;
          height: 4.5rem;
        }

        span {
          font-weight: 900;
          font-size: 2.0rem;
        }
      }

      .btnHeader {
        width: 4.5rem;
        height: 4.5rem;
      }

    }

    @include responsive(lg) {
      padding: 20px;

      .logo {
        justify-content: center;

        img {
          max-width: 5.0rem;
          height: 5.0rem;
        }

        span {
          font-weight: 900;
          font-size: 2.2rem;
        }
      }
    }
  }

  .groupBtn {
    display: flex;
    gap: 30px;

    .btnResigter,
    .btnLogin {
      cursor: pointer;
      min-width: 150px;
      padding: 16px 14px;
      border-radius: 99px;
      color: #fff;
      font-weight: 500;
    }
  }

  .headerBottom {
    background: var(--secondaryColor);
    padding: 0 30px;
    margin-top: 10px;

    .navbarBtn {
      display: none;
    }

    .times {
      display: none;
    }



    .overlay {
      display: none !important;
      position: fixed;
      background-color: #2c2b2b80;
      inset: 0;
      z-index: 4;

    }

    ul {
      color: #fff;
      justify-content: space-between;
      display: flex;
      list-style: none;

      .navLinkRoom {
        text-align: center;
        white-space: nowrap;
        display: block;
        flex: 1 0 auto;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: var(--hoverSecondaryColor);
        }

        a {
          display: block;
          padding: 14px 20px;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 600;
          color: #fff;
        }
      }
    }

    @include responsive(xs) {
      padding: 0 10px;
      padding: 10px 20px;

      .overlay {
        &.isShow {
          display: block !important;
        }
      }

      .navbarBtn {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;

        .navIcon {
          color: #fff;
          font-size: 2.5rem;
        }



      }

      .headerBottomInner {
        translate: -100%;
        position: fixed;
        inset: 0;
        max-width: 300px;
        left: 0;
        top: 0;
        z-index: 10;
        background: var(--secondaryColor);
        overflow: auto;
        transition: translate 0.25s linear;

        &.isShow {
          translate: 0;
        }

        ul {
          display: flex;
          flex-direction: column;

          .navLinkRoom {
            cursor: pointer;

            a {
              padding: 10px 4px;
              font-size: 1.8rem;
              text-transform: uppercase;
              font-weight: 600;
            }
          }

        }

        .times {
          background-color: transparent;
          display: block;
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 4px;

          .iconTimes {
            color: red;
            font-size: 2.5rem;
          }
        }

      }

    }

    @include responsive(sm) {
      padding: 0 20px;
      padding: 10px 20px;

      .overlay {
        &.isShow {
          display: block !important;
        }
      }

      .navbarBtn {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;

        .navIcon {
          color: #fff;
          font-size: 2.5rem;
        }


      }

      .headerBottomInner {
        translate: -100%;
        position: fixed;
        inset: 0;
        max-width: 60vw;
        left: 0;
        top: 0;
        z-index: 10;
        background: var(--secondaryColor);
        overflow: auto;
        transition: translate 0.25s linear;

        &.isShow {
          translate: 0;
        }

        ul {
          display: flex;
          flex-direction: column;

          .navLinkRoom {
            cursor: pointer;

            a {
              padding: 10px 4px;
              font-size: 1.8rem;
              text-transform: uppercase;
              font-weight: 600;
            }
          }

        }

        .times {
          background-color: transparent;
          display: block;
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 4px;

          .iconTimes {
            color: red;
            font-size: 2.5rem;
          }
        }

      }


    }

    @include responsive(md) {
      padding: 10px 20px;

      .overlay {
        &.isShow {
          display: block !important;
        }
      }

      .navbarBtn {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;

        .navIcon {
          color: #fff;
          font-size: 2.5rem;
        }


      }

      .headerBottomInner {
        translate: -100%;
        position: fixed;
        inset: 0;
        max-width: 300px;
        left: 0;
        top: 0;
        z-index: 10;
        background: var(--secondaryColor);
        overflow: auto;
        transition: translate 0.25s linear;

        &.isShow {
          translate: 0;
        }

        ul {
          display: flex;
          flex-direction: column;

          .navLinkRoom {
            cursor: pointer;

            a {
              padding: 10px 4px;
              font-size: 1.8rem;
              text-transform: uppercase;
              font-weight: 600;
            }
          }

        }

        .times {
          background-color: transparent;
          display: block;
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 4px;

          .iconTimes {
            color: red;
            font-size: 2.5rem;
          }
        }

      }




    }

    @include responsive(lg) {
      padding: 0 10px;

      ul {
        .navLinkRoom {
          flex: 1;
          cursor: pointer;

          a {
            padding: 10px 4px;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 600;
          }
        }

      }

      .overlay {
        display: none !important;
      }

    }
  }

  @include responsive(xs) {
    .navBarWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .chatGpt {
        position: static;
        width: 35px;
        height: 35px;
      }
    }

    .groupBtn {
      gap: 5px;
    }

    .btnLogin,
    .btnResigter {
      min-width: 80px !important;
      padding: 10px !important;
      font-size: 1.2rem;

    }


  }

  @include responsive(sm) {
    .navBarWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .chatGpt {
        position: static;
        width: 35px;
        height: 35px;
      }
    }

  }

  @include responsive(md) {
    .navBarWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .chatGpt {
        position: static;
        width: 40px;
        height: 40px;
      }
    }

  }



}

[data-theme='dark'] {
  .header {
    background-color: var(--colorDark) !important;

    .navbar {
      background-color: var(--colorDark) !important;
    }
  }
}