@use '../../styles//GlobalStyles.module.scss' as *;

.Marquee {
     .textWrapper {
          padding: 5px 10px;
          background: #FFCD00;
          overflow: hidden;
          display: flex;
          gap: 100px;
          justify-content: flex-start;

          .textContext {
               font-size: 25px;
               text-transform: uppercase;
               -webkit-text-stroke-width: 0.1px;
               -webkit-text-stroke-color: #fff;
               white-space: nowrap;
               letter-spacing: 1px;
               animation: move-inf 10000ms linear infinite;

               @include responsive(xs) {
                    font-size: 14px;
               }

               @include responsive(sm) {
                    font-size: 24px;
               }

               @include responsive(md) {
                    font-size: 30px;
               }

               @include responsive(lg) {
                    font-size: 30px;
               }
          }

     }

}

@keyframes move-inf {
     from {
          transform: translateX(0);
     }

     to {
          transform: translateX(calc(-100% - 100px));
     }
}