@mixin responsive($breakpoint) {
     @if $breakpoint==xs {
          @media (max-width: 575.98px) {
               @content;
          }
     }

     @if $breakpoint==sm {
          @media (min-width: 576px) and (max-width: 767.98px) {
               @content;
          }
     }

     @if $breakpoint==md {
          @media (min-width: 768px) and (max-width: 991.98px) {
               @content;
          }
     }

     @if $breakpoint==lg {
          @media (min-width: 992px) and (max-width: 1199.98px) {
               @content;
          }
     }

     @if $breakpoint==xl {
          @media (min-width: 1200px) {
               @content;
          }
     }
}

.learnCources {
     padding: 100px 135px;

     @include responsive(xs) {
          padding: 10px;
     }

     @include responsive(sm) {
          padding: 50px;
     }

     @include responsive(md) {
          flex: 1 0 calc(100% / 3 - 30px);
     }

     @include responsive(lg) {
          flex: 1 0 calc(100% / 3 - 30px);
     }

     .headingLv2 {
          text-align: center;
          font-size: 3.0rem;
          font-weight: 600;

     }

     .desc {
          text-align: center;
          margin-top: 18px;
          font-size: 18px;
     }

     .listCourses {
          max-width: 1170px;
          margin: 70px auto 40px auto;
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
     }

     .btnAllCources {
          display: block;
          min-width: 150px;
          padding: 15px 35px;
          border-radius: 8px;
          background: #B5ED3D;
          margin: 55px auto;
          cursor: pointer;
     }

     .btnAllCources.hidden {
          background-color: rgb(170, 33, 33);
          color: #fff;
     }
}