@mixin responsive($breakpoint) {
     @if $breakpoint==xs {
          @media (max-width: 575.98px) {
               @content;
          }
     }

     @if $breakpoint==sm {
          @media (min-width: 576px) and (max-width: 767.98px) {
               @content;
          }
     }

     @if $breakpoint==md {
          @media (min-width: 768px) and (max-width: 991.98px) {
               @content;
          }
     }

     @if $breakpoint==lg {
          @media (min-width: 992px) and (max-width: 1199.98px) {
               @content;
          }
     }

     @if $breakpoint==xl {
          @media (min-width: 1200px) {
               @content;
          }
     }
}

.slide {
     padding: 20px 10px;
     width: 100%;
     border-radius: 12px;
     overflow: hidden;
     max-height: 350px;
}

.slideRow {
     width: 100%;
}

.slideLeft {
     padding-left: 60px;
}

.slideCol {
     width: 100% !important;
}

img {
     width: 100%;
     max-height: 350px;
     object-fit: contain;
}

.imgWrap {
     max-width: 570px;
     max-height: 350px;
     overflow: hidden;
}

.title {
     color: #032E32;
     font-family: Plus Jakarta Sans;
     font-size: 50px;
     font-style: normal;
     font-weight: 800;
     line-height: 80px;

     @include responsive(xs) {
          width: 16.5rem;
          font-size: 1.2rem;
          height: 3.2rem;
     }

     @include responsive(sm) {
          width: 18rem;
          height: 4rem;
          font-size: 1.4rem;
     }

     @include responsive(md) {
          width: 20rem;
          height: 5rem;
          font-size: 1.6rem;
     }

     @include responsive(lg) {
          width: 20rem;
          height: 5rem;
          font-size: 1.6rem;
     }
}

.desc {
     color: #032E32;
     font-family: Plus Jakarta Sans;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     margin-top: 18px;
}