@mixin responsive($breakpoint) {
     @if $breakpoint==xs {
          @media (max-width: 575.98px) {
               @content;
          }
     }

     @if $breakpoint==sm {
          @media (min-width: 576px) and (max-width: 767.98px) {
               @content;
          }
     }

     @if $breakpoint==md {
          @media (min-width: 768px) and (max-width: 991.98px) {
               @content;
          }
     }

     @if $breakpoint==lg {
          @media (min-width: 992px) and (max-width: 1199.98px) {
               @content;
          }
     }

     @if $breakpoint==xl {
          @media (min-width: 1200px) {
               @content;
          }
     }
}

.slide {
     padding: 20px 10px;
     width: 100%;
     background-color: #bed4c9;
     border-radius: 12px;
     overflow: hidden;
     max-height: 350px;
}

.slideRow {
     width: 100%;
}

.slideCol {
     width: 100% !important;
}

img {
     width: 100%;
     max-height: 350px;
     object-fit: contain;
}

.imgWrap {
     max-width: 570px;
     max-height: 350px;
}