.carouselSlice>ul {
     height: 1rem !important;

     &>li {
          height: 100% !important;
          width: 1.5rem !important;

          &>button {
               font-size: 0 !important;
               width: 1rem !important;
               height: 1rem !important;
               border-radius: 50% !important;
               background-color: #96d7de !important;
               transition: all ease 0.4s !important;

          }
     }
}