.carouselSlice {
     ul li {
          width: 28px !important;
          height: 8px !important;
          border-radius: 100%;
     }

     ul li.slick-active {
          width: 30px;
          height: 7px;
          border-radius: 100%;
          background: red;
     }
}