.carouselSlice {
     ul li {
          width: 36px !important;
          height: 6px !important;
          border-radius: 100% !important;
     }

     ul li.slick-active {
          width: 40px !important;
          height: 7px;
          border-radius: 100%;
          background: red;
     }

     ul li button {
          height: 6px !important;
     }
}