.bannerDicount {
     .textWrapper {
          padding: 20px 10px;
          background: #FFCD00;
          overflow: hidden;
          display: flex;
          justify-content: flex-start;

          .textContext {
               font-size: 45px;
               text-transform: uppercase;
               -webkit-text-stroke-width: 0.2px;
               -webkit-text-stroke-color: #fff;
               -webkit-text-stroke: #fff;
               white-space: nowrap;
               letter-spacing: 1px;
               animation: move-inf 6000ms linear infinite;
          }

     }

}

@keyframes move-inf {
     0% {
          transform: translateX(0);
     }

     100% {
          transform: translateX(-100%);
     }
}