.bannerDicount {
     .textWrapper {
          padding: 20px 10px;
          background: #FFCD00;
          overflow: hidden;
          display: flex;
          justify-content: flex-start;

          .textContext {}

     }

}