.features {
     padding: 100px 0 100px 0;
     background: #E0EAE5;

     .featureTop {
          padding: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          background-color: #fff;
          margin-left: auto;
          border-top-left-radius: 10rem;
     }

     .featureBottom {
          padding: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          background-color: #fff;
          margin-right: auto;
          border-top-right-radius: 10rem;
     }
}