@mixin responsive($breakpoint) {
  @if $breakpoint==xs {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  }

  @if $breakpoint==md {
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

.learnCources {
  padding: 100px 135px;

  @include responsive(xs) {
    padding: 10px;
  }

  @include responsive(sm) {
    padding: 50px;
  }

  .headingLv2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;

    @include responsive(xs) {
      font-size: 2rem;
    }

    @include responsive(sm) {
      font-size: 2.5rem;
    }

    @include responsive(md) {
      font-size: 2.8rem;
    }
  }

  .desc {
    text-align: center;
    margin-top: 18px;
    font-size: 1.8rem;

    @include responsive(xs) {
      font-size: 1.4rem;
    }

    @include responsive(sm) {
      font-size: 1.6rem;
    }
  }

  .listCourses {
    max-width: 1170px;
    margin: 70px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .btnAllCources {
    display: block;
    min-width: 150px;
    padding: 15px 35px;
    border-radius: 8px;
    //     background: #b5ed3d;
    margin: 55px auto;
    cursor: pointer;
  }

  .btnAllCources.hidden {
    //     background-color: rgb(170, 33, 33);
    color: #ffffffe6;
  }
}
