.mainCategoryDetail {
     .listCategory {
          max-width: 1170px;
          margin: 70px auto 40px auto;
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
     }

     .headingLv2 {
          font-size: 2.5rm;
     }
}